<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Test Rest</title>
    <script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/bower_components/underscore/underscore-min.js}"></script>
	<script th:src="@{/bower_components/backbone/backbone-min.js}"></script>
	<script th:src="@{/js/stickrm.js}"></script>
	<script th:src="@{/bower_components/sockjs-client/dist/sockjs.min.js}"></script>
</head>
<body>

<script th:inline="javascript">
	var cardList = new CardCollection();
	var card1 = new Card({code: "iniesta", description: "Iniesta"});
	var card2 = new Card({code: "casillas", description: "Casillas"});
	var card3 = new Card({code: "sramos", description: "Sergio Ramos"});
	cardList.add([card1, card2, card3]);
	var data = JSON.stringify(cardList);
	
	var sock = new SockJS([[@{/cards}]]);
	
	sock.onopen = function(){
		console.log("Opening Socks");
		sendMsg(data);
	}
	
	sock.onmessage = function(e){
		console.log("Received message: ", e.data);
	}
	
	sock.onclose = function(){
		console.log("Closing");
	}
    
	function sendMsg(data){
		console.log("Sending Message")
		sock.send(data);
	}
</script>

	<div id="output"></div>
</body>
</html>